<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Directives - Data Binding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="quantity=1;price=5">
        Quantity: <input type="number" ng-model="quantity">
        Costs: <input type="number" ng-model="price">
        <br>
        Totoal in dollar: {{ quantity * price }}
    </div>
</body>
</html>